{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing {{ listing.list_title }}</h1>
    <h2>Owner: {{ owner }}</h2>
    <h2>Description: {{ description }}</h2>
    <h2>Starting Bid = ${{ bid }}</h2>
    <h2>Category: {{ category }}</h2>
    <img src="{{ image }}" height="300" width="300">
    <h2>{{ watchlist }}</h2>
    <div>
        {% if user.is_authenticated %}
        <form id="watchlist">
        {% csrf_token %}
        <input type="submit" value="Add to watchlist" formaction="{% url 'add_to_watchlist' listing.list_title %}"
               formmethod="post"><br>
        <input type="submit" value="Remove from watchlist" formaction="{% url 'remove_from_watchlist' listing.list_title %}"
               formmethod="post"><br>

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">✖</a>
            </li>
            {% endfor %}
            </ul>
            {% endif %}

            <h2>Current_bid = {{ current_bid }} $ by {{ current_bid_buyer }}</h2>
        </form>
        <form>
            {% csrf_token %}
            <input type="number" name="new_bid">
            <input type="submit" value="new_bid" formaction="{% url 'make_bid' listing.list_title %}"
                   formmethod="post">
        </form>
        {% else %}
            Not signed in.
        {% endif %}
    </div>



{% endblock %}